.venv/
.env
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/

data/dummy/*
!data/dummy/README.md

datasets/*
!datasets/README.md

models/*.pt
models/*.onnx
models/*.engine
!models/README.md

output/*
!output/README.md
